.bg {
    height:100vh;
    background-image: linear-gradient(to bottom right,rgb(204, 29, 108) ,rgb(66, 5, 66));
    
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.title {
    font-size: 4.5rem;
}
.desc {
    font-size: 2rem;
    
}
.desc2 {
    font-size: 1.5rem;
    
}
.main-text {
    text-align: center;
    position:relative;
    top: 250px;
    left:500px;
    transform: translate(-50%, -50%);
    color: white;
}
.nav-item{
    color: rgb(92, 148, 196);
}
.navbar{
    background-color: rgb(12, 5, 5);
}
