body {
    background-color: #05061a; /* Dark blue background color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

header {
    padding: 20px;
    text-align: center;
}

nav {
    background-color: rgba(5, 6, 26, 0.8); /* Semi-transparent dark blue */
    padding: 10px;
    text-align: center;
}

section {
    padding: 20px;
}

footer {
    background-color: rgba(5, 6, 26, 0.8); /* Semi-transparent dark blue */
    padding: 20px;
    text-align: center;
}

.social-media {
    background-color: aquamarine;
}
